<footer class="footer mt-auto py-3">

  <!--Inserto una división con bootstrap -->
  <div class="row justify-content-center">
    <div class="col-2">
      <!--Inserto botón del tiempo -->
      <a
        class="mx-5 btn btn-link"
        href="skype:aquí_el_usuario_de_skype?call"
        aria-hidden="true"
        target="_blank"
      >
        <fa-icon class="fa-2x" [icon]="faSkype"></fa-icon>
      </a>
    </div>

    <div class="col-2">
      <!--Inserto botón de correo -->
      <a
        class="mx-5 btn btn-link"
        href="mailto:bachiller@servicasa.org?subject=Tema&amp;cc=preguntas@servicasa.org&amp;body=Me gustaría solicitar un presupuesto"
        aria-hidden="true"
        target="_blank"
      >
        <fa-icon class="fa-2x" [icon]="faCorreo"></fa-icon>
      </a>
    </div>
  </div>

</footer>
